<div class="html-struct">
  <label>在移动设备中使用
    <input type="checkbox" v-model="isInMobile">
  </label><br>
  <label>用IE浏览页面时，让浏览器用本机上最新的IE渲染引擎
    <input type="checkbox" v-model="isUseLatest">
  </label>
  <!-- <pre>
    <code>
    &lt;!DOCTYPE html&gt;
    &lt;html lang="en"&gt;
      &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;Document&lt;/title&gt;<template v-if="isInMobile"><br><span  style="display: inline-block;text-indent: 5em;">&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</span></template><template v-if="isUseLatest"><br><span  style="display: inline-block;text-indent: 5em;">&lt;meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"&gt;</span></template>
      &lt;/head&gt;
      &lt;body&gt;
        &lt;!--在页面中显示的主体内容 --&gt;
        &lt;div&gt; sth &lt;/div&gt;
      &lt;/body&gt;
    &lt;/html&gt;
    </code>
  </pre> -->
  <pre>
    <code>
      {{html}}
    </code>
  </pre>
</div>
