<h1 id="title">Web 前端 Demos</h1>
<div class="demos">
  <ul class="filter">
    <li @click="filter(false)" class="filter__item" :class="{'filter__item--selected': filterTags.length === 0}">全部</li>
    <li v-for="tag in tagsInfo" @click="filter(tag.id)" class="filter__item"  :class="{'filter__item--selected': filterTags.indexOf(tag.id) > -1}">{{tag.msg}}</li>
  </ul>
  <ul>
    <li class="demos__item" v-for="item in demos | filterDemos">
      <a href="{{item.loc + 'html'}}" target="_blank">{{item.name}}</a>
    </li>
  </ul>
</div>