#app{
  width: 960px;
  margin: 0 auto;
}
.nav{
  display: inline-block;
  padding-left: 0;
  &__item{
    cursor: pointer;
    list-style: none;
    text-decoration: underline;
    line-height: 1.5;
    &--active{
      color: #f60;
    }
  }
}
.content{
  display: inline-block;
}