.target-wrap{
  margin: 0 auto;
  width: 900px;
}
.img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: yellow;
}

.target {
  display: block;
  transform-origin: center center;
}

.target-left-control {
  float: left;
}

.target-right-control {
  float: right;
}
