.ly{
  display: flex;
  &__item{
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #f60;
    /*border: 2px solid #0f0;*/
  }
}



/*
减小是加权后的比例
calTotalValue = item1Width*item1ShirkValue + item2Width*item2ShirkValue + ...
shirkTotalValue = (item1Width + item2Width + ...) - wrapWitdh
itemShowWidth = itemWidth - (itemWidth*itemShirkValue / calTotalValue) * shirkTotalValue

calTotalValue = 200*3 + 300*2 = 1200
shirkTotalValue = 200 + 300 - 400 = 100
item1 = 200 - (200*3/1200)*100= 150
item2 = 300 - (300*2/1200)*100= 250
*/
.shirk-wrap{
  width: 400px;
}
.shirk-1{
  flex-shrink: 3;
  width: 200px;
}
.shirk-2{
  flex-shrink: 2;
  width: 300px;
}